<div class="spotify__home-container row">
  <div class="spotify__home-container_side-bar col-2">
    <div class="spotify__home-container_side-bar-item">
      <img width="130" class="m-3 text-left" src="/assets/Spotify_light.png" alt="spotify_logo" />
    </div>
    <div class="spotify__home-container_side-bar-item text-white-50 fw-medium">
      <a>Home</a>
    </div>
    <div class="spotify__home-container_side-bar-item text-white-50 fw-medium">
      <a>Search</a>
    </div>
    <div class="spotify__home-container_side-bar-item text-white-50 fw-medium">
      <a>Your library</a>
    </div>
    <div class="spotify__home-container_side-bar-item text-white-50 fw-bold">
      <a>Create Playlist</a>
    </div>
    <div class="spotify__home-container_side-bar-item text-white-50 fw-bold">
      <a>Liked Songs</a>
    </div>
  </div>
  <div class="spotify__home-container_playlist-container col-10">
    <app-top-nav></app-top-nav>
  </div>
</div>
