<div class="spotify__top-nav">
  <div class="spotify__top-nav_buttons">
    <button class="back"><</button>
    <button class="next">></button>
  </div>
  <div class="spotify__top-nav_options">
    <div class="spotify__top-nav_premium">Premium</div>
    <div class="spotify__top-nav_support">Support</div>
    <div class="spotify__top-nav_download">Download</div>
  </div>
  <div class="line"></div>
  <div class="spotify__top-nav_auth">
    <div class="spotify__top-nav_auth_sing-up">Sing up</div>
    <div class="spotify__top-nav_auth_login">Log in</div>
  </div>
</div>
